/*
  used on the homepage to make the images full screen
*/
.item img {
    width: 100%;
}
/*
  used on the homepage to overwrite jumbotron text 
*/
#jumbo-text {
    font-size: 1em;
    padding-top: 5px;
}
/*
    used on the homepage to size the google map
*/
.embed-responsive-full {
    padding-bottom: 50%;
}
/*
  allows the nav bar to no block content
  also give text on bottom a bit of space
*/
body { 
  padding-top: 65px; 
  padding-bottom: 20px;
}

/*
  formats quotes to be more readable 
*/
blockquote {
  padding-left: 2rem;
  font-style: italic;
}
/*
  overides the previous class if blockquote needs to be indented
*/
.indented-list {
  padding-left: 1rem;
}

/*
  slightly indents text
*/
p {
  padding-left: 1rem;
}