/*
  used on the homepage to make the images full screen
*/
.item img {
    width: 100%;
}
/*
  used on the homepage to overwrite jumbotron text 
*/
#jumbo-text {
    font-size: 1em;
    padding-top: 5px;
}
/*
  allows the nav bar to no block content
  also give text on bottom a bit of space
*/
body { 
  margin-top: 65px; 
  margin-bottom: 20px;
}

/*
  formats quotes to be more readable 
*/
blockquote {
  padding-left: 2rem;
  font-style: italic;
}
/*
  overides the previous class if blockquote needs to be indented
*/
.indented-list {
  padding-left: 2rem;
}

/*
  slightly indents text
*/
p {
  padding-left: 1rem;
}
/*
  allows google calendar to be responsive
*/
.responsive-calendar {
  position: relative; 
  padding-bottom: 75%; 
  height: 0; 
  overflow: hidden;
}
.responsive-calendar iframe {
  position: absolute; 
  top:0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}
/*
  list styles for dad's sermons h2 is used for main points h1 for title and the rest of these for the lists
*/
.list-level-1 {
  list-style-type: upper-alpha;
  list-style-position: inside;
  padding-left: 1rem;
}
.list-level-2 {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 1.5rem;
}
.list-level-3 {
  list-style-type: lower-alpha;
  list-style-position: inside;
  padding-left: 1.5rem;
}
.list-level-4 {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1.5rem;
}